
<form [formGroup]="formaEditar" >
  <mat-form-field class="example-full-width">
    <input matInput   formControlName="titulo" placeholder="Titulo" >
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput formControlName="descripcion" placeholder="Descripcion"></textarea>
  </mat-form-field>

  <button (click)="guardarCambios()" mat-raised-button color="primary">Guardar</button>
  <button (click)="cancelarEdicion()" mat-raised-button color="warn">Cancelar</button>
</form>